@import url('/font-awesome-4.6.3/css/font-awesome.min.css');

html {
    scroll-behavior: smooth;
    transition-duration: 500ms;
}
/* Top Navigation Bar */
    .topnav, .logo, .link {
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        line-height: 1.5em !important;
        border-bottom: none;
        background-color:white;
    }
    .menu {
        background-color: white;
    }
    /* Top Navigation*/
    .topnav {
    	 width: 100%;
    	 border-bottom: 1px solid black;
    	 border-top: 1px solid black;
    	 text-align: right;
    	 position: relative;
    }
     .topnav .logo {
    	 position: absolute;
    	 top: 0;
    	 left: 0;
    	 font-size: 18px;
    	 font-weight: 600;
    	 color: black;
    	 padding: 32px;
    	 border-right: 1px solid black;
    }
     .link {
    	 display: inline-block;
    	 padding: 16px 0;
    	 margin: 16px 25px;
    	 position: relative;
    	 text-decoration: none;
    	 color: #0f0f0f;
    	 font-weight: 600;
    	 font-size: 18px;
    }
     .link .bar {
    	 width: 100%;
    	 display: inline-block;
    	 border-bottom: 5px solid black;
    	 position: absolute;
    	 bottom: 0;
    	 left: 0;
    	 opacity: 0;
    	 transition: all 300ms;
    }
     .link:hover {
         color:black;
     }
     .link:hover .bar {
    	 opacity: 1;
    }
    
    .sidenav-button {
          background: transparent;
          color: black;
          display: inline-block;
    	  padding: 18.5px;
    	  margin: 15px 25px;
          text-align: center;
          text-decoration: none;
          font-size: 24px;
    }
    
        .sidenav-button:hover {
            cursor: pointer;
        }
    
    /* Sidebar Navigation */
    
    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: white;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
    
    .sidenav a {
      padding: 16px 16px 16px 32px;
      text-decoration: none;
      font-size: 18px;
      font-weight: 600;
      color: black;
      display: block;
      transition: 0.3s;
    }
    
    .sidenav a:hover {
      color: #f1f1f1;
    }
    
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    
    
    @media (max-width: 768px) {
        .link {
            display: none;
        }
    }
    
    @media (min-width: 769px) {
        .sidenav-button {
            display: none;
        }
        .sidenav {
            display: none;
        }
    }
    
/* Footer */

.footer {
    display: flex;
    background-color: #f7f7f7;
    width:100%;
    height:160px;
    color:black;
    align-items: center;
    justify-content: center;
}

.footer .footer-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer .footer-link {
    color: black;
    text-decoration:none;
}

.footer-container .icon-container {
    font-size: 28px;
    padding: 16px;
}

.footer-container .text-container {
    font-size: 14px;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.html5-link {
    color: black;
    text-decoration: none;
    border-bottom: 1px dotted #d6d6d6;
}

.html5-link:hover {
    color: #4696e5;
}

.line{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid black;
}